@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    @font-face {
    font-family: 'Markazi Text', serif;
    src: url("./assets/fonts/Markazi_Text/MarkaziText-VariableFont_wght.ttf") format("truetype");
    }


  @font-face {
    font-family: 'Karla', serif;
    src: url("./assets/fonts/Karla/Karla-VariableFont_wght.ttf") format("truetype");
    }

    .display-title {
        font-family: theme(fontFamily.markazi);
        font-size: 64px;
        font-weight: 500;
    }

    .sub-title {
        font-family: theme(fontFamily.markazi);
        font-size: 40px;
        font-weight: 300;
    }

    .lead-text {
        font-family: theme(fontFamily.karla);
        font-size: 18px;
        font-weight: 500;
    }

    .section-title {
        font-family: theme(fontFamily.karla);
        font-size: 20px;
        font-weight: 800;
        text-transform: uppercase;
    }
    .section-category {
        font-family: theme(fontFamily.karla);
        font-size: 16px;
        font-weight: 800;
    }

    .card-title {
        font-family: theme(fontFamily.karla);
        font-size: 18px;
        font-weight: 700;
    }
    .paragraph {
        font-family: theme(fontFamily.karla);
        font-size: 16px;
        line-height: "1.5";
        font-weight: 400;
    }
    .highlight {
        font-family: theme(fontFamily.karla);
        font-size: 40px;
        font-weight: 500;
    }
}